/* GENERAL */

*{
  margin: 0 auto;
  /*border: 1px solid black;*/
}

body {
  margin: 0 auto;
}

section {
  padding: 36px 24px 36px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section > * {
  text-align: center;
  margin: 24px 0px 24px 0px;
  max-width: 800px;
}

section > * > *:first-child {
  margin-bottom: 16px;
}

/* FONTS */

 h1, h2 {
  font-family: "Delicious Handrawn";
  font-size: 2.4em;
  font-weight: 400;
}

h3 {
  color: #B84739;
  font-family: "Delicious Handrawn";
  font-size: 2.2em;
  font-weight: 400;
}

p {
  font-family: "Reddit Mono";
  font-size: 1.4em;
  font-weight: 250;
}

a {
  color: #B84739;
}

span {
  text-decoration: underline;
}

/* BUTTONS & FORMS*/

button {
  padding: 10px 20px 14px 20px;
  font-family: "Delicious Handrawn";
  font-size: 28px;
  cursor: pointer;
  background-size: contain;
  border: 0;
}

button a {
  text-decoration: none;
}

.cta {
  background: url("assets/button_primary.svg") no-repeat center;
}

.cta a {
    color: #E1C94C;
}

.program_discover {
  background: url("assets/button_secondary_program.svg") no-repeat center;
}

.ok {
  background: url("assets/button_secondary_ok.svg") no-repeat center;
}

.secondary a {
  color: #000000;
}

input {
  padding: 10px 20px 14px 20px;
  font-family: "Delicious Handrawn";
  font-size: 28px;
  background-size: contain;
  border: 0;
}

.email {
  background: url("assets/button_secondary_emailinput.svg") no-repeat center;
  width: 246px;
}

.consent {
  font-family: "Delicious Handrawn";
  font-size: 28px;
  cursor: pointer;
  caret-color: transparent;
  display: block;
  padding-top:10px;
}

.consent > input {
  display: none;
}

.checkbox-1 {
  display: none;
}

.consent input:checked ~ .checkbox-1 {
    display: inline;
}

.consent input:checked ~ .checkbox-0 {
    display: none;
}

/* HEADER & FOOTER */

.header {
    background-image: url("assets/background_green.svg");
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000; /* Pour que le menu reste au-dessus des autres éléments */
    box-shadow: 0px 0px 20px 0px gray; /* Ombre pour effet de profondeur */
  }

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px 12px 24px;
  max-width: 800px;
}

#logo, #burger {
  margin: 0;
  padding-top: 4px;
}

.footer {
  text-align: center;
  padding: 12px 20px 12px 20px;
  background-image: url("assets/background_green.svg");
}

.footer p a {
  color: black;
  text-decoration: none;
}

/* MENU */

nav {
  background-image: url("assets/background_beige.svg");

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;

  transform: translateY(-100%);
  transition: transform 0.4s ease;

  z-index: 1000;
}

nav > h2 > a {
  color: black;
  text-decoration: none;
}

nav.active {
  transform: translateY(0);
}

.close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

#burger {
  cursor: pointer;
}

/* HOMEPAGE */

.hp_hero {
  background-image: url("assets/background_beige.svg");
}

.hp_etape1 {
  background-image: url("assets/background_blue.svg");
}

.hp_ensavoirplus {
  background-image: url("assets/background_beige.svg");
}

.hp_faq {
  background-image: url("assets/background_blue.svg");
}

.hp_faq > * {
  text-align: left;
}

.hp_inscription {
  background-image: url("assets/background_beige.svg");
}

/* PROGRAM */

.program_calendar {
  background-image: url("assets/background_beige.svg");
}

.program_calendar h1 {
 text-align: center;
}

.program_calendar > * {
  width: 100%;
  text-align: left;
}

details {
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 18px;
}

details:last-child {
  border-bottom: none;
}

details > p, iframe {
  padding: 8px 0px 8px 0px;
}

summary {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: start;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

summary > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  gap: 4px;
}

summary h3,
summary p {
  margin: 0;
  text-align: left;
}

summary::-webkit-details-marker {
  display: none;
}

.icon {
  width: 18px;
  height: 18px;
  margin-top: 14px;
  background: url("assets/accordion_plus.svg") no-repeat center;
  background-size: contain;
  transition: transform 0.3s ease;
}

details[open] .icon {
  background: url("assets/accordion_minus.svg") no-repeat center;
  background-size: contain;
}

.program_inscription {
  background-image: url("assets/background_blue.svg");
}

/* TOUR DE GAULE */

.tdg {
  background-image: url("assets/background_beige.svg");
}

.tdg_etapes {
  background-image: url("assets/background_blue.svg");
}

/* CONTACT & INSCRIPTION */

.contact {
  background-image: url("assets/background_beige.svg");
}

.contact * {
  text-align: left;
}

